{% extends 'work/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Job Card Preview Invoice</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="{% url 'work:dashboard' %}">Home</a></li>
             
              <li class="breadcrumb-item active">Preview</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
     <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-md-3 col-3">
                  <br><br>
                  <img src="{% static 'logo.png' %}" width="100%">
                </div>
                <div class="col-md-9 col-4">
                  <br>
                  <h4 class="text-center">P.O.Box 12166, Arusha - Tanzania<br>
                    Tel: +255 754 308 230 / +255 710 153 397 <br>
                    E-Mail : sales@donsomotors.com / workshop@donsomotors.com<br>
                  website : www.donsomotors.com</h4>
                
                  <hr>
                  <h4 class="text-center"><b>WORKSHOP DEPARTMENT</h4>
                    <h3 align="right">
                    <i class="fas fa-checked"></i> JOB CARD : <b>J-{{ order.id }}</b>
                    
                  </h3>
                </div>
               
                <!-- /.col -->
              </div>
              <hr>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <h4>CUSTOMER DETAILS</h4>
                        <hr>
                        <address>
                          <b>Customer Name</b> :  <strong>{{ order.customer.customer_name }}</strong><br>
                          Customer Phone : {{ order.customer.customer_phone }}<br>
                          Address : {{ order.customer.customer_address}}<br>
                          Email : {{ order.customer.customer_email }}<br>
                          Driver Name: {{ order.customer.driver_name }}<br>
                          Driver Phone : {{ order.customer.driver_phone }}
                        </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <h4> CAR INFORMATION</h4>
                        <hr>
                        <address>
                          <b>Vehicle Type </b> :  <strong>{{ order.car_name }}</strong><br>
                          Plate No : {{ order.plate_no }}<br>
                          Model No : {{ order.model_no }}<br>
                          Chassis No : {{ order.chassis_no }}<br>
                          Kms : {{ order.number_of_km }}<br>
                        </address>
                  
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <h4> WORKSHOP DETAILS</h4>
                        <hr>
                        <address>

                          <b>Arrival Date </b> :  {{ order.arrival_date }} <br>
                          Departure Date  : {{ order.departure_date }}<br>
                          Amount : <b class="text-primary">{{ order.total_amount|intcomma}} TSH</b><br>
                          Payment Method   : <b class="text-info">{{ order.payment_method }}</b><br>
                          Payment status   :{% if order.payment_status == 'Paid' %}
                                <b class="text-success">Paid</b>
                                {% else %}
                                 <b class="text-danger">Unpaid</b>
                                 {% endif %}
                        </address>

                  
                  
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>No</th>
                      <th>Description</th>
                      <th>Unit</th>
                      <th>Quantity</th>
                      <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% if order.order_items %}
                      {% for item in order.order_items %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ item.item }}</td>
                      <td>{{ item.unit }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>
                        {% if  item.amount == 0 %}

                        {% else %}
                          {{ item.amount|intcomma }}
                        {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td colspan="4"> no added items </td>
                      
                    </tr>
                    {% endif %}
                   
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-8">
                  <p class="" style="margin-top: 10px; content: black;">
                    I have read and agree to the conditions of business on the reverse side of this order and authorize you to carry out the above work and subsequent repairs found on the insection up to the limit specified by me as above.
                  </p>
                  <div class="row">
                    <div class="col-6 ">
                      <hr style="border-top: 2px solid black;">
                      <b>Customer signature</b>
                    </div>
                    <div class="col-1 "></div>
                    <div class="col-5 ">
                      <hr style="border-top: 2px solid black;">
                      <b>Date</b>
                    </div>
                  </div>
                  <p>We recommend that your vehicle is serviced at the correct intervals stipulated in your service record and look forward to seeing you at the next appointment which will be due on or at kms whichever occurs first.</p> 
                </div>
                <!-- /.col -->
                <div class="col-4">
                  
                  <div class="table-responsive">
                    <table class="table">
                     
                      <tr>
                        <th>Total:</th>
                        <td><h4><b>{{ order.total_amount|intcomma }} TZH</b></h4></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="{% url 'work:card_print' order.id %}" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print Invoice</a>
                 
                
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
    {% endblock  %}


{% block page_scripts %}
  <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

<script type="text/javascript">
      $(document).on('click', '.delete_post', function(){
                      return confirm('Are you sure you want to delete the post?');
                  })
    </script>
{% endblock page_scripts %}
  