{% extends 'work/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{{ page_title }} <span class="badge badge-success">{{all_in_no}}</span></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'work:dashboard' %}">Home</a></li>
             
              <li class="breadcrumb-item active">{{ page_title }}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
                       {% if messages %}
                         {% for message in messages %}
                         <div class="alert alert-{{ message.tags }}   alert-dismissible">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <p><strong>Notification!</strong></p>
                              <p>{{ message }}.</p>
                         </div>
                         {% endfor %}
                      {% endif %}
      <div class="container-fluid row">
        <!-- Small boxes (Stat box) -->
       

           <div class="col-lg-12">
             <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">{{ page_title }}</h3>
                  
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form method="POST" class="form-inline row ">
                  {% csrf_token %} 
                  <div class="form-group col-md-3 col-12">
                    <label>From&nbsp;&nbsp;&nbsp; </label>
                    <input type="date" class="form-control" required name="from_date", value="{{from_date}}">
                  </div>
                  <div class="form-group col-md-3 col-12">
                    <label>To &nbsp;&nbsp;&nbsp;</label>
                    <input type="date" class="form-control" required name="to_date" value="{{ to_date}}">
                  </div>
                  <div class="form-group col-md-3 col-12">
                    <button type="submit" class="btn btn-success">Sumbmit</button>
                  </div>
                </form>
                <hr>
                  <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Job Card </th>
                    <th>Customer </th>
                    <th>Vehicle Type </th>
                    <th>Service Cost</th>
                    <th>Payment Status</th>
                    <th>Work Status</th>
                    <th>Arrival Date</th>                     
                    <th>Departure Date</th>                     
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                   {% if orders %}
                          {% for order in orders %}
                           <tr>
                             <td><b class="text-success">J-{{ order.id }}</b></td>
                             
                             <td>{{ order.customer.customer_name }} </td>
                             <td>{{ order.car_name }}</td>

                             <td> <b>{{ order.total_amount|intcomma }} {{ order.currence_type }}</b> </td>

                             <td>{% if order.payment_status == 'Paid' %}
                                <b class="text-success">Paid</b>
                                {% else %}
                                 <b class="text-info">Unpaid</b>
                                 {% endif %}
                             </td>

                             <td><b class="text-info">{{order.work_status }}</b></td>
                             <td>{{ order.arrival_date|date }}</td>
                             <td>{{ order.departure_date|date }}</td>
                             <td>
                               <a class="btn  btn-success btn-sm" href="{% url 'work:order_detail' order.id %}" title="Details"><b class="fa fa-eye"></b> </a>  </td>
                           </tr>
                           {% endfor %}
                           {%  else  %}
                           <tr>
                             <td colspan="9"><p class="text-danger"><b>No {{ page_title }}, Please pick a start and end date to see results.</b></p></td>
                           </tr>
                           {% endif %}
                 
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
           </div>
           
      
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
    {% endblock  %}


{% block page_scripts %}
  <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

<script type="text/javascript">
      $(document).on('click', '.delete_post', function(){
                      return confirm('Are you sure you want to delete the order?');
                  })
    </script>
{% endblock page_scripts %}
  